{% extends 'base.html' %}



{% block add_post %}

<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form.as_p }}
	<ul>
		<h3> Type Something... </h3>
		<textarea name='text' rows='5' cols='100'> </textarea>
		<br><br>
		<input class="btn btn-primary" type="submit" value="Post">
		<a class="btn btn-secondary" href="{% url 'index' %}" role="button"> Cancel </a>
		<br><br>
		<a class="btn btn-danger" href="{% url 'upload' %}" role="button"> Upload Image </a>
	</ul>
</form>

{% endblock %}

