{% extends 'base.html' %}

{% block add_post %}


<ul>
<form method="POST" enctype="multipart/form-data" style="font-size:2vw; color:green;">
	{% csrf_token %}
	{{ form.as_p }}
		<br>
		<h3 style="font-size:4vw;"> Ovde kuckaj nesto... </h3>
		<br>
		<textarea name='text' rows='3' cols='50'> </textarea>
		<br><br><br>
		<input class="btn btn-success" type="submit" value="Objavi" style="font-size:2vw; color:white";>
		<a class="btn btn-secondary" href="{% url 'index' %}" role="button" style="font-size:2vw; color:white;"> Odustani </a>
		<br><br><br><br>
		<h2 style="font-size:4vw;"> Odaberi sliku ili video </h2>
		<br>
		<a class="btn btn-success" href="{% url 'upload' %}" role="button" style="font-size:2vw; color:white;"> Odaberi fajl </a>
		<br><br>
</form>
</ul>

{% endblock %}

