{% extends 'base.html' %}

<h1> All posts: </h1>

{% block listing %}

<ul>
<nav class="navbar navbar-dark">
 <h5> Add new <a href="{% url 'add' %}" class="alert-link"> POST </a></h5>
</nav>
</ul>
<br>
	{% for post in all_posts %}
		
<!-- 		<a href="details/{{ post.id }}"></a> -->
		<li><i> Posted: {{ post.created }} </i></li> 
		<ul>
		<h6> {{ post.text }} </h6>
		<br>
		

		{% if post.image %}
		  <img src="{{ post.image.url }}" style="max-height:300px">
		{% endif %}


			<hr class="bg-success" />
		</ul>
	{% endfor %}

<nav class="navbar navbar-dark">
 <h5><a href="{% url 'index' %}" class="alert-link"> Refresh </a></h5>
</nav>

{% endblock %}
