{% extends 'base.html' %}

<h1> All posts: </h1>

{% block listing %}

<ul>
<nav class="navbar navbar-dark"style="font-size:5vw;">
 <h5 style="font-size:2vw;"> Add <a href="{% url 'add' %}" class="alert-link btn btn-success btn-sm" style="font-size:2vw;"> NEW POST </a></h5>
</nav>
</ul>
<br>
{% for post in all_posts %}

<ul>
<h5 style="font-size:2vw; background-color:lightgreen; border:2px solid lightgreen; color:black;padding:5px;"><li> Posted: {{ post.created }} </li> </h5>
	<h6 style="font-size:2vw; color:black;padding:5px;"> {{ post.text }} </h6>

{% if post.image %}
	<img src="{{ post.image.url }}" style="max-width:70%;height:auto;">
<!-- 	style="width:100%; -->
<!-- style="max-width:100%;height:auto; -->
{% endif %}

{% if post.video %}
<video width='480' height= '320' id="intro" type="video/mp4" controls preload>
	<source src="{{ post.video.url }}" type="video/mp4">
</video>
{% endif %}
<!-- <hr class="bg-success" /> -->
</ul>

{% endfor %}

<nav class="navbar navbar-dark">
<a href="{% url 'index' %}" class="alert-link btn btn-success btn-sm"  style="font-size:2vw;"> Refresh </a>
</nav>

{% endblock %}
